#tabs {
    width: 100%;
    height:30px;
    border-bottom: solid 1px green;
    padding-right: 1px;
    margin-top: 30px;
    color: white;
}
#tabs li {
    float:left;
    list-style:none;
    border-top:1px solid green;
    border-left:1px solid green;
    border-right:1px solid green;
    border-bottom: solid 1px green;
    margin-right:5px;
    outline:none;
}
#tabs li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    display:block;
    background: green;
    outline:none;
    cursor: pointer;
}
#tabs li a.inactive {
    padding-top:5px;
    padding-bottom:8px;
    padding-left: 8px;
    padding-right: 8px;
    background: black;
    outline:none;
}
#tabs li a:hover, #tabs li a.inactive:hover {
    background: green;
    outline:none;
}
.tabContainer {
    padding: 10px;
    color: white;
}
